{% extends "layout.html" %}

{% block title %}
    DashBoard
{% endblock %}

{% block main %}
    <h2>suscribtion table</h2>

    <table class="table table-bordered table-striped">
        <thead class="thread-light">
            <tr>
                <th>Sub Topic</th>
                <th>msg</th>
                <th>timestamp</th>
            </tr>
        </thead>

        <tbody>
            {% for sub in reg_subs %}
                <tr>
                    <th>{{ stock.symbol }}</td>
                    <th>{{ stock.name }}</td>
                    <th>{{ stock.total_shares }}</td>
                    <th>{{ stock.price }}</td>
                    <th>{{ (stock.price * stock.total_shares) }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="4" align="right">Cash</td>
                <td>{{ cash }}</td>
            </tr>

            <tr>
                <td colspan="4" align="right">Total Value</td>
                <td>{{ total_value  }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
