{% extends "layout.html" %}

{% block title %}
    DashBoard
{% endblock %}

{% block main %}
    <h2>suscribtion table</h2>
    <h3> the path is : {{userPath[0]["path"]}}</h3>
    <h4> shown last values for each</h4>
        
    <table class="table table-bordered table-striped">
        <thead class="thread-light">
            <tr>
                <th>Sub Topic</th>
                <th>msg</th>
                <th>timestamp</th>
            </tr>
        </thead>

        <tbody>
            {% for sub in subLog %}
                <tr>
                    <td>{{ sub.topic }}</td>
                    <td>{{ sub.value }}</td>
                    <td>{{ sub.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% for pub in pubTopics%}
    <h2>Publish a msg to : {{ userPath[0]["path"] }}/{{ pub.topic }} </h2>
    
    <form action="/messagePublish" method="post">
        <div class="mb-3">
            <label for="pubTopic">Message:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="{{ userPath[0]["path"] }}/{{ pub.topic }}"
                placeholder="Write the Message" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Send Message</button>
    </form>
    {% endfor %}

{% endblock %}
