{% extends "layout.html" %}

{% block title %}
Log
{% endblock %}

{% block main %}
<h2>User Log</h2>

<table class="table">
    <thead class="thread-light">
        <tr>
            <th>Type</th>
            <th>Topic</th>
            <th>Payload</th>
            <th>Time</th>
        </tr>
    </thead>

    <tbody>
        {% for msg in messagingLog %}
        <tr>
            <td>{{ msg.type }}</td>
            <td>{{ msg.topic }}</td>
            <td>{{ msg.value }}</td>
            <td>{{ msg.timestamp}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}