{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Get a stock quote</h2>
    <form action="/quote" method="post">
        <label for="symbol">Symbol</label>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        <button class="btn btn-primary" type="submit">Get Quote</button>
    </form>
    {% if quote %}
        <h3></{{ quote['name'] }} ({{ quote['symbol']}})h3>
        <p>Price: {{ quote['price']|usd}}</p>
    {% endif %}
{% endblock %}
